html {
  padding-left: calc(100vw - 100%);
  scroll-behavior: smooth;
}

h4[id] {
  scroll-margin-top: 70px;
}

body {
  font-family: "Poppins", sans-serif;
}

.badge {
  font-weight: 500;
}

.bg-light,
.badge-light {
  &,
  * {
    color: $text-black !important;
  }
}

.bg-dark,
.badge-dark {
  &,
  * {
    color: $text-white !important;
  }
}
